<div class="main-container">
    <h2>Game Status: {{ gameState$ | async }}</h2>
    <!-- <app-start-menu></app-start-menu> -->
    <button *ngIf="currentGameState === GameStateEnum.GAME_START" (click)="playerArrange()">Start Game</button>
    <!-- <button (click)="player2Arrange()">Player2 Arrange</button>
    <button (click)="player1Attack()">Player1 Attack</button>
    <button (click)="player2Attack()">Player2 Attack</button>
    <button (click)="gameEnd()">Game end</button> -->


    <div *ngIf="currentGameState === GameStateEnum.PLAYER_ARRANGE">
        <app-board [currentGameState]="currentGameState"></app-board>
        <app-ship></app-ship>
    </div>

    <div *ngIf="currentGameState === GameStateEnum.WAIT_PLAYER_ARRANGE">
        <p>Wati player joining...</p>
        <p>{{userCount}}</p>
    </div>

    <div class="board-area" *ngIf="currentGameState === GameStateEnum.PLAYER_ATTACK">
        <app-board [currentGameState]="currentGameState" [playerData]="currentPlayerData"></app-board>
        <app-board [currentGameState]="currentGameState" [enemyData]="enemyPlayerData"></app-board>
    </div>


    <div class="board-area" *ngIf="currentGameState === GameStateEnum.WAIT_PLAYER_ATTACK">
        <app-board [currentGameState]="currentGameState" [playerData]="currentPlayerData"></app-board>
        <app-board [currentGameState]="currentGameState" [enemyData]="enemyPlayerData"></app-board>
    </div>

    <div *ngIf="currentGameState === GameStateEnum.PLAYER1_ARRANGE">
        <app-board [currentGameState]="currentGameState"></app-board>
        <app-ship></app-ship>
    </div>

    <div *ngIf="currentGameState === GameStateEnum.PLAYER2_ARRANGE">
        <app-board [currentGameState]="currentGameState"></app-board>
        <app-ship></app-ship>
    </div>

    <div class="board-area" *ngIf="currentGameState === GameStateEnum.PLAYER1_ATTACK ">
        <app-board [currentGameState]="currentGameState" [playerData]="currentPlayerData"></app-board>
        <app-board [currentGameState]="currentGameState" [enemyData]="enemyPlayerData"></app-board>
    </div>

    <div class="board-area" *ngIf="currentGameState === GameStateEnum.PLAYER2_ATTACK ">
        <app-board [currentGameState]="currentGameState" [playerData]="currentPlayerData"></app-board>
        <app-board [currentGameState]="currentGameState" [enemyData]="enemyPlayerData"></app-board>
    </div>
</div>