<div class="main-container">
    <div class="menu" *ngIf="currentGameState === GameStateEnum.GAME_START">
        <p class="title">海戦ゲーム</p>
        <button *ngIf="currentGameState === GameStateEnum.GAME_START" (click)="playerArrange()">Start Game</button>
    </div>

    <div *ngIf="currentGameState === GameStateEnum.PLAYER_ARRANGE">
        <p class="title"> Arrange your ship!</p>
        <app-board [currentGameState]="currentGameState"></app-board>
        <app-ship></app-ship>
    </div>

    <div *ngIf="currentGameState === GameStateEnum.WAIT_PLAYER_ARRANGE">
        <div class="waiting-container">
            <p class="title">Waiting room</p>
            <p>Waiting for player joining...</p>
            <p>Current user count: {{userCount}}</p>
            <button (click)="leaveRoom()">Leave room</button>
        </div>
    </div>

    <div *ngIf="currentGameState === GameStateEnum.PLAYER_ATTACK">
        <p class="title">Your turn!</p>
        <div class="board-area">
            <app-board [currentGameState]="currentGameState" [playerData]="currentPlayerData"></app-board>
            <app-board [currentGameState]="currentGameState" [enemyData]="enemyPlayerData"></app-board>
        </div>
    </div>


    <div *ngIf="currentGameState === GameStateEnum.WAIT_PLAYER_ATTACK">
        <p class="title">Waiting for enemy attack!</p>
        <div class="board-area">
            <app-board [currentGameState]="currentGameState" [playerData]="currentPlayerData"></app-board>
            <app-board [currentGameState]="currentGameState" [enemyData]="enemyPlayerData"></app-board>
        </div>
    </div>

    <div class="menu" *ngIf="currentGameState === GameStateEnum.GAME_WIN">
        <p class="title">You win!</p>
        <button (click)="restart()">Restart</button>
    </div>

    <div class="menu" *ngIf="currentGameState === GameStateEnum.GAME_LOSE">
        <p class="title">You lose!</p>
        <button (click)="restart()">Restart</button>
    </div>
 
</div>