<div class="board">
  <div class="board-area">
    <h3 *ngIf="currentGameState === GameStateEnum.PLAYER1_ATTACK || currentGameState === GameStateEnum.PLAYER2_ATTACK">
      {{title}}</h3>
    <h3 *ngIf="currentGameState === GameStateEnum.PLAYER1_ATTACK || currentGameState === GameStateEnum.PLAYER2_ATTACK">
      {{remainShips}}</h3>
    <div class="row" *ngFor="let row of board; let i = index">
      <div *ngFor="let cell of row; let j = index" class="cell" (click)="cellClicked(i, j)"
        (mouseover)="drawGrid(i, j, true)" (mouseout)="drawGrid(i, j, false)">
        <div class="cell-content" [ngStyle]="{ 'background-color': cell.color }"
          [ngClass]="{'clicked': cell.isAttacked}">
          <p *ngIf="cell.hasShip&&cell.isAttacked">1</p>
          <p *ngIf="!cell.hasShip&&cell.isAttacked">0</p>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="currentGameState === GameStateEnum.PLAYER1_ARRANGE || currentGameState === GameStateEnum.PLAYER2_ARRANGE">
    <button (click)="resetBoard()">Reset</button>
    <button [disabled]="!checkCanConfirmShipArrangement()" (click)="confirmShipArrangement()">Submit</button>
  </div>
</div>