@import "../../style/variables";

.available-ships {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 10px;

    .title-area {
        @include flex-center-row;
        justify-content: space-around;
    }

    .ship-area {
        @include flex-center-row;
        gap: 50px;
        .ship {
            display: flex;
        }

        .selected {
            border: 2px solid blue;
        }

        .ship-element {
            width: 30px;
            height: 30px;
            display: inline-block;
            cursor: pointer;
            border: 0.5px solid #ccc;
        }
    }
}